
.masthead {
  position: relative;
  width: 100%;
  height: auto;
  min-height: 35rem;
  padding: 15rem 0;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.3) 0%, rgba(0, 0, 0, 0.7) 75%, #000 100%), url("https://redautonomos.es/images/redautonomos/como-montar-inmobiliaria.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: cover;
}
.masthead h1, .masthead .h1 {
  font-family: "Varela Round", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 7.5rem !important;
  letter-spacing: 1rem !important;
  background: linear-gradient(rgba(255, 255, 255, 0.985), rgba(255, 255, 255, 0));
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
          background-clip: text;
}
.masthead h2, .masthead .h2 {
  max-width: 30rem;
  font-size: 1.25rem;
}

.fondoVentas{
  background-color:white; 
  filter:alpha(opacity); 
  opacity:.6;
  padding: 1rem;
  border-radius: 2%;
}

.projects-section {
  padding: 10rem 0;
}
.projects-section .featured-text {
  padding: 2rem;
}
.projects-section .featured-text {
  padding: 0 0 0 2rem;
  border-left: 0.5rem solid #64a19d;
}
.projects-section .project-text {
  padding: 3rem;
  font-size: 90%;
  }
.projects-section .project-text {
  padding: 5rem;
}
.projects-section .project-text hr {
  border-color: #64a1=9d;
  border-width: 0.25rem;
  width: 30%;
}

.contact-section {
  padding-top: 5rem;
  padding-bottom: 5rem;
  background-color: #212529;
}
.contact-section .card {
  border: 0;
  border-bottom: 0.25rem solid #64a19d;
}
.contact-section .card h4, .contact-section .card .h4 {
  font-size: 0.8rem;
  font-family: "Varela Round", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  text-transform: uppercase;
  letter-spacing: 0.15rem;
}
.contact-section .card hr {
  border-color: #64a19d;
  border-width: 0.25rem;
  width: 3rem;
}

#projects{
  padding-top: 50px;
  padding-bottom: 50px;
}

#azulcito{
  background-color: rgb(42, 69, 137 );
}