.wrapTitulo{
    display: flex;
    justify-content: center;
    padding: 24px;
    font-size: xxx-large;
    font-weight: 600;
}

.btn-Buscar {
    color: #fff !important;
    background-color: #0d6efd !important;
    box-shadow: 0 2px 3px 0 rgb(42 42 42 / 5%) !important;
    border-radius: 4px !important;
    margin-right: 8px !important;
    width: 100%;
    font-family: Poppins,sans-serif !important;
    font-weight: 700 !important;
    font-size: 14px !important;
    outline: none;
  }

.color-nav1{
    background-color: rgba(0, 0, 0, 0.233);
    padding-top: 3%;
    padding-left: 20%;
    padding-right: 20%;
    margin-top: auto;
    margin-bottom: auto;
    height: 100%;
    width: 100%;
}

.fondo{
    border-radius: 0% !important;
    border: none !important;
    background-color: rgba(178, 209, 255, 1) !important;
}

.imgInicio{
    width: fit-content;
    height: auto;
    
}

.wrapComponenteInicio{
    padding: 0% !important;
}

.wrapBotones1{
    display: flex;
    justify-content: center;
    padding: 1% !important;
}

.CajaUbicacion{
    width: 50% !important
}